body {
  background: rgb(0,255,64);
  background: radial-gradient(circle, rgba(0,255,64,0.6783088235294117) 0%, rgba(1,208,174,1) 25%, rgba(83,63,122,0.9752275910364145) 50%, rgba(2,27,126,0.958420868347339) 75%, rgba(255,16,0,0.8631827731092436) 100%); 
  color:white;
  text-align: center;
  width: 99%;
  height: 99%;
}

h2{
  font-size: 30px;
  margin: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2.5em;
    display: inline-block;
    margin: -1px;
}

.hidden {
  display: none;
}
.wall{
  background: rgb(0,0,255);
  background: linear-gradient(142deg, rgba(0,0,255,0.9023984593837535) 0%, rgba(3,3,59,1) 100%);  
}
.pacman{
  color: gold; 
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(14,15,224);
    background: linear-gradient(263deg, rgba(14,15,224,0.87) 0%, rgba(217,1,34,0.9) 25%, rgba(182,180,19,0.95) 50%, rgba(217,1,34,0.9) 75%, rgba(14,15,224,0.8715861344537815) 85%);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 83px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px;
    /* display: none; */
}
.board-container{
  display: inline-block; 
}